<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AIRTELX" parallel="methods" thread-count="1">
	<listeners>
		<listener
			class-name="com.automation.frameWork.baseTest.RListeners" />
	</listeners>
	<test name="AIRTELX">
		<groups>
			<run>
				<include name="airtelx" />
			</run>
		</groups>
		<classes>
      <class name="com.qa.test.TestScript.MyStoreTest"/>
    </classes>
	</test>
</suite>
